* {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 20px;
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

h1{
    font-size: 25px;
    color: #f6f6f6;
}

header{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: #222222;
    color: #f6f6f6;
}

.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.destination-form__title{
    color: #222222;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

hr{
    margin: 15px auto;
    width: 60%;
    border: hidden;
    border-top: #222222 solid 2px;
}

section form{
    width: 30%;
}

section article{
    width: 65%;
}

label{
    display: block;
    margin-top: 15px;
}

input, textarea {
    display: block;
    width: 100%;
    border: 0;
}

input{
    border-bottom: 1px solid #222222;;
}

input:focus {
    outline: none;
    border-color: #b5b5b5;
}

textarea{
    resize: none;
    border: 1px solid #222222;;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
}

textarea:focus {
    outline: 1px #b5b5b5 ;
    border: solid 1px #b5b5b5;
}

.destination-form button{
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    background-color: #222222;
    color: #f6f6f6;
    font-weight: 600;
}

.destination-form button:hover{
    background-color: #353535;
}

.destination-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination-container__card{
    background-color: #f6f6f6;
    border: 1px solid #222222;
    height: fit-content;
    width: 280px;
    margin-bottom: 10px;
}

.destination-container__card-body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination-container__card-text {
    padding: 2%;
}

.destination-container__card-text h3{
    font-size: 18px;
}

.destination-container__card-text h4{
    font-size: 12px;
    color: #696969;
    margin-bottom: 10px;
}

.destination-container__card-text p{
    font-size: 15px;
    color: #696969;
}

.destination-container__card-body button{
    cursor: pointer;
    width: 100%;
    padding: 2px 0;
    background-color: #222222;
    color: #f6f6f6;
    font-size: 16px;
    font-weight: 600;
}

